# 示例配置文件
# nacos url地址
url = "http://nacos-0:8848"

# 定义容器网段
container_network = ["172.30.0.0/16","172.16.0.0/16","192.168.0.0/16"]

# 账号密码  https://nacos.io/zh-cn/docs/auth.html
#username = ""
#password = ""
# 定义指定的namespaceid (可选,默认所有)
# 等同命令行 --namespace id1,id2
namespace = ["df7bee71-33ff-49ae-9adc-d9412b3d2ddb","dc7bca41-5aeb-417e-9876-488dcfb5b911"]

# 定义group组 等同命令行 --group ddn1,ddn2, (可选,默认DEFAULT_GROUP)
group = ["ddn","ddn","ddn2","DEFAULT_GROUP"]

# 设置默认导出json和web服务附加标签
label = [
    {name = "env",value = "dev"},
    {name = "os",value = "linux"}
]

# nacos-sync配置使用
nacos-sync = [
    {namespace = "dc7bca41-5aeb-417e-9876-488dcfb5b911",dataId = "ops-inspecion.yml",group = "DEFAULT_GROUP"}
]

# 定义默认ip解析文件
ipfile = "/mnt/c/xxx/ip.json"
